<div class="answer-container">
    <pre>
<b>Question</b>
Remove duplicate strings from Array of words
    
<b>Input</b>
["Accenture","Coding Round","Accenture","Interview","Interview"]

<b>Code Snippet</b>

import {{'{'}} Component, OnInit{{'}'}} from '@angular/core'; 
            
@Component ({{'{'}}
selector : 'duplicate-string',
templateUrl : './duplicate-string.component.html',
styleUrls : ['./duplicate-string.component.css']
{{'}'}})
export class DuplicateStringComponent implements OnInit{{'{'}}
    inputArray = ["Accenture","Coding Round","Accenture","Interview","Interview"]
    ngOnInit(){{'{'}}
       this.removedDuplicates = this.removeDuplicates(this.inputArray);
    {{'}'}}
    removeDuplicates(duplicateArray){{'{'}}
    if(duplicateArray && duplicateArray.length > 0){{'{'}}
      var  removedDuplicateArray = [];
      removedDuplicateArray = duplicateArray.filter(
          (value, index, self) => self.indexOf(value) === index); 
      console.log(removedDuplicateArray);
     return removedDuplicateArray;
   {{'}'}}
 {{'}'}}
{{'}'}}

<b>Output :</b>
{{removedDuplicates}}
</pre>
    
</div>