.question-base-container{
    display:flex;
    justify-content: space-evenly;
    background:#c1e8d7;
    font-size:14pt;
    padding:10px;
    
}
a {
    color: black;
  }
  a.active{
      
      font-weight:bold;
  }
  
  @media screen and (max-width:500px){
    .question-base-container{
        font-size:10pt;
    }
  }
