<div class="answer-container">
    <pre>
    <b>Question</b>
    Difference between <b>let</b> and <b>this</b> Keywords.
    When to use each with examples.
    
    <b>let</b> is a new type of variable declaration in javascript.
    when a variable is declared with let it uses block-level scoping.
    
    <b>This</b> is a keyword that referes to an object it is belonging to.
    In Function => this refers window object(with "use strict").
                => is undefined (without "use strict").
    In eventBinding => this refers to an element which received an event
    In objectmethod => this referes to owner of object method
    
    Following example shows how let and this can be used.

    export class LetThisComponent implements OnInit{{'{'}}
        personName : string = '';
         person = {{'{'}}
           name : "Mahanthesh",
           age : 26
        {{'}'}};
     
         ngOnInit(){{'{'}}
           let a = 10;//block level scope available only to ngOninit()
           this.letThisDemo();
           {{'{'}}
            let b = 11;
          {{'}'}}
         // console.log(b); can't acess b here
        {{'}'}}
     
         letThisDemo(){{'{'}}
          // this.a  // can't access a here
          this.personName = this.person.name;//'This' referes person Object here
        {{'}'}}
    {{'}'}}

    When a fuction is invoked with "new" keyword the function 
    is known as constructor function and returns a new instance.
    In this case value of "this" refers to newly created instance.

    function Person(fn,ln){{'{'}}
    this.first_name = fn;
    this.last_name = ln;
  
    this.displayName = function() {{'{'}}
      console.log(`Name: ${{'{'}}this.first_name{{'}'}} ${{'{'}}this.last_name{{'}'}}`);
      {{'}'}}
    {{'}'}}
    
    //this becomes person1
    let person1 = new Person("Mahanthesh", "Shivamoggeppa");
    person.displayName();
    
    //this becomes person2
    let person2 = new Person("Mahanth", "esh");
    person.displayName();
    
</pre>
</div>