/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.answer-container{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height:550px;
    
}

pre{
    font-size:13pt;
}
a.change-color{
    color : 005f87 !important;
}